@using System.Collections.Specialized
@using Microsoft.AspNetCore.Authorization
@using ShopOnlineApp.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/client-side/custome.css" rel="stylesheet" />
}
@section Scripts
    {
    <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js"></script>
    <script src="~/app/controller/product/quantity-management.js"></script>
    <script src="~/app/controller/product/image-management.js"></script>
    <script src="~/app/controller/product/whole-price-management.js"></script>
    <script src="~/app/controller/product/index.js" asp-append-version="true"></script>

    <script>
        var product = new productController();
        product.initialize();
    </script>
}
<style>
    span.textbox.textbox-invalid.combo {
        width: 172px;
    }
</style>
<div class="page-title">
    <div class="title_left">
        <h3>Sản phẩm <small>Danh sách sản phẩm</small></h3>
    </div>

    <div class="title_right">
        <div class="col-md-4 col-sm-5 col-xs-12 form-group pull-right">

            <div class="input-group">
                <input type="text" id="txtKeyword" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="btnSearch" type="button">Tìm kiếm!</button>
                </span>
            </div>
        </div>
        <div class="col-md-3 col-sm-12  form-group pull-right">
            <select class="form-control" id="ddlCategorySearch">
                <option>--Chọn loại--</option>
            </select>
        </div>
        <div class="col-md-5 col-sm-12  form-group pull-right">
            @{
                var result = await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Create);
            }
            @if (result.Succeeded)
            {
                @*<button class="btn btn-success" id="btn-create" type="button">Create</button>*@
                <button id="btnCreate" class="btn btn-success">Tạo</button>
            }
            <a class="btn btn-danger" href="~/templates/ProductImportTemplate.xlsx">Template</a>
            <button class="btn btn-primary" id="btn-import" type="button"><i class="fa fa-file-excel-o"></i></button>
            <button class="btn btn-default" id="btn-export" type="button"><i class="fa fa-forward"></i></button>
        </div>
    </div>
</div>

<div class="clearfix">

</div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Danh sách sản phẩm</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Tên</th>
                        <th>Loại</th>
                        <th>Gía</th>
                        <th>Ảnh</th>
                        <th>Ngày tạo</th>
                        <th>Trang thái</th>
                        <th width="20%">#</th>
                    </tr>
                </thead>
                <tbody id="tbl-content"></tbody>
            </table>
            <div class="row">
                <div class="col-sm-7">
                    <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                        <select class="col-sm-2" id="ddlShowPage">
                            <option value="10" selected="selected">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                        <span class="item-per-page">
                            bản ghi/trang.
                        </span>
                        Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
                    </div>
                </div><div class="col-sm-12">
                    <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                        <ul id="paginationUL"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>{{Name}}</td>
        <td>{{CategoryName}}</td>
        <td>{{Price}}</td>
        <td>{{{Image}}}</td>
        <td>{{CreatedDate}}</td>
        <td>{{{Status}}}</td>
        <th scope="row">

            @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Update)).Succeeded)
            {
                @*<a href="#" data-id="{{Id}}" class="btn-edit"><i class="fa fa-pencil-square-o"></i></a>*@
                <a class="btn  btn-sm btn-edit" data-id="{{Id}}"><i class="fa fa-pencil"></i></a>
            }

            @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Delete)).Succeeded)
            {
                @*<a href="#" data-id="{{Id}}" class="btn-delete"><i class="fa fa-trash-o"></i></a>*@
                <a class="btn  btn-sm btn-delete" data-id="{{Id}}"><i class="fa fa-trash"></i></a>
            }

            @*<a class="btn  btn-sm btn-edit" data-id="{{Id}}"><i class="fa fa-pencil"></i></a>
                <a class="btn  btn-sm btn-delete" data-id="{{Id}}"><i class="fa fa-trash"></i></a>*@
            <a href="#" data-id="{{Id}}" class="btn btn-xs btn-images"><i class="fa fa-image"></i></a>
            <a href="#" data-id="{{Id}}" class="btn btn-xs btn-quantity"><i class="fa fa-hourglass-start"></i></a>
            <a href="#" data-id="{{Id}}" class="btn btn-xs btn-whole-price"><i class="fa fa-money"></i></a>
        </th>
    </tr>
</script>
@Html.Partial("_AddEditModal.cshtml")
@Html.Partial("_ImportExcelModal.cshtml")
@Html.Partial("_QuantityManagement.cshtml")
@Html.Partial("_ImageManagement.cshtml")
@Html.Partial("_WholePriceManagement.cshtml")